# macOS
.DS_Store
*.swp
*~

# Xcode
build/
DerivedData/
*.xcworkspace
!*.xcodeproj/project.xcworkspace/
xcuserdata/
*.xccheckout
*.xcscmblueprint
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/
Package.resolved
*.xcodeproj/**/xcuserdata/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# IDE
.idea/
*.sublime-project
*.sublime-workspace
.vscode/

# Secrets
*.env
.env.*
Secrets/

# Misc
*.log
*.tmp
