<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RainyPost.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C18F11DC2F0B2C9400958FB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F11ED2F0B2C9800958FB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C18F11F72F0B2C9800958FB7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
